HelloWorldClient/bin/Debug/CroweHelloWorld.exe
HelloWorldClient/bin/Debug/CroweHelloWorld.exe.config
HelloWorldClient/bin/Debug/CroweHelloWorld.pdb
HelloWorldClient/bin/Debug/HelloWorldApi.dll
HelloWorldClient/bin/Debug/HelloWorldApi.pdb
HelloWorldClient/bin/Debug/HelloWorldWriter.dll
HelloWorldClient/bin/Debug/HelloWorldWriter.pdb
HelloWorldClient/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
HelloWorldClient/obj/Debug/CroweHelloWorld.csprojAssemblyReference.cache
HelloWorldClient/obj/Debug/CroweHelloWorld.exe
HelloWorldClient/obj/Debug/CroweHelloWorld.pdb
HelloWorldClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HelloWorldClient/obj/Debug/HelloWorldClient.csproj.CopyComplete
HelloWorldClient/obj/Debug/HelloWorldClient.csproj.CoreCompileInputs.cache
HelloWorldClient/obj/Debug/HelloWorldClient.csproj.FileListAbsolute.txt
HelloWorldClient/obj/Debug/HelloWorldClient.csprojAssemblyReference.cache
HelloWorldClient/Properties/AssemblyInfo.cs
HelloWorldApi/bin/Debug/netstandard2.0/HelloWorldApi.deps.json
HelloWorldApi/bin/Debug/netstandard2.0/HelloWorldApi.dll
HelloWorldApi/bin/Debug/netstandard2.0/HelloWorldApi.pdb
HelloWorldApi/obj/HelloWorldApi.csproj.nuget.dgspec.json
HelloWorldApi/obj/HelloWorldApi.csproj.nuget.g.props
HelloWorldApi/obj/HelloWorldApi.csproj.nuget.g.targets
HelloWorldApi/obj/project.assets.json
HelloWorldApi/obj/project.nuget.cache
HelloWorldApi/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
HelloWorldApi/obj/Debug/netstandard2.0/HelloWorldApi.AssemblyInfo.cs
HelloWorldApi/obj/Debug/netstandard2.0/HelloWorldApi.AssemblyInfoInputs.cache
HelloWorldApi/obj/Debug/netstandard2.0/HelloWorldApi.assets.cache
HelloWorldApi/obj/Debug/netstandard2.0/HelloWorldApi.csproj.CoreCompileInputs.cache
HelloWorldApi/obj/Debug/netstandard2.0/HelloWorldApi.csproj.FileListAbsolute.txt
HelloWorldApi/obj/Debug/netstandard2.0/HelloWorldApi.dll
HelloWorldApi/obj/Debug/netstandard2.0/HelloWorldApi.pdb
HelloWorldApiUnitTests/bin/Debug/netstandard2.0/HelloWorldApi.dll
HelloWorldApiUnitTests/bin/Debug/netstandard2.0/HelloWorldApi.pdb
HelloWorldApiUnitTests/bin/Debug/netstandard2.0/HelloWorldApiUnitTests.deps.json
HelloWorldApiUnitTests/bin/Debug/netstandard2.0/HelloWorldApiUnitTests.dll
HelloWorldApiUnitTests/bin/Debug/netstandard2.0/HelloWorldApiUnitTests.pdb
HelloWorldApiUnitTests/obj/HelloWorldApiUnitTests.csproj.nuget.dgspec.json
HelloWorldApiUnitTests/obj/HelloWorldApiUnitTests.csproj.nuget.g.props
HelloWorldApiUnitTests/obj/HelloWorldApiUnitTests.csproj.nuget.g.targets
HelloWorldApiUnitTests/obj/project.assets.json
HelloWorldApiUnitTests/obj/project.nuget.cache
HelloWorldApiUnitTests/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
HelloWorldApiUnitTests/obj/Debug/netstandard2.0/HelloWorldApiUnitTests.AssemblyInfo.cs
HelloWorldApiUnitTests/obj/Debug/netstandard2.0/HelloWorldApiUnitTests.AssemblyInfoInputs.cache
HelloWorldApiUnitTests/obj/Debug/netstandard2.0/HelloWorldApiUnitTests.assets.cache
HelloWorldApiUnitTests/obj/Debug/netstandard2.0/HelloWorldApiUnitTests.csproj.CopyComplete
HelloWorldApiUnitTests/obj/Debug/netstandard2.0/HelloWorldApiUnitTests.csproj.CoreCompileInputs.cache
HelloWorldApiUnitTests/obj/Debug/netstandard2.0/HelloWorldApiUnitTests.csproj.FileListAbsolute.txt
HelloWorldApiUnitTests/obj/Debug/netstandard2.0/HelloWorldApiUnitTests.csprojAssemblyReference.cache
HelloWorldApiUnitTests/obj/Debug/netstandard2.0/HelloWorldApiUnitTests.dll
HelloWorldApiUnitTests/obj/Debug/netstandard2.0/HelloWorldApiUnitTests.pdb
HelloWorldWriter/bin/Debug/netstandard2.0/HelloWorldWriter.deps.json
HelloWorldWriter/bin/Debug/netstandard2.0/HelloWorldWriter.dll
HelloWorldWriter/bin/Debug/netstandard2.0/HelloWorldWriter.pdb
HelloWorldWriter/obj/HelloWorldWriter.csproj.nuget.dgspec.json
HelloWorldWriter/obj/HelloWorldWriter.csproj.nuget.g.props
HelloWorldWriter/obj/HelloWorldWriter.csproj.nuget.g.targets
HelloWorldWriter/obj/project.assets.json
HelloWorldWriter/obj/project.nuget.cache
HelloWorldWriter/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
HelloWorldWriter/obj/Debug/netstandard2.0/HelloWorldWriter.AssemblyInfo.cs
HelloWorldWriter/obj/Debug/netstandard2.0/HelloWorldWriter.AssemblyInfoInputs.cache
HelloWorldWriter/obj/Debug/netstandard2.0/HelloWorldWriter.assets.cache
HelloWorldWriter/obj/Debug/netstandard2.0/HelloWorldWriter.csproj.CoreCompileInputs.cache
HelloWorldWriter/obj/Debug/netstandard2.0/HelloWorldWriter.csproj.FileListAbsolute.txt
HelloWorldWriter/obj/Debug/netstandard2.0/HelloWorldWriter.csprojAssemblyReference.cache
HelloWorldWriter/obj/Debug/netstandard2.0/HelloWorldWriter.dll
HelloWorldWriter/obj/Debug/netstandard2.0/HelloWorldWriter.pdb
